.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    border: 2px solid rgb(27, 21, 117);
    height: 85vh;
}
.namesList{

}
.name{
    margin-top: 10px;
}
.content{
    border: 2px solid white;
    background: rgb(5, 2, 46);
    border-radius: 10px;
    height: 110px;
}
.message{
    margin-top: 10px;
}
.active{
    color: gold;
}