.nav {
  font-family: Conv_TextMeOne-Regular;
  font-size: 40px;
  grid-area: nav;
  background-color: #16163D;
  height: 520px;
  border: 2px solid rgb(27, 21, 117);
}

.link {
  display: flex;
  padding:15px 0 15px 5px;
  color: #FFFFFF;
}
.link:hover{
  background-color:rgba(255,0,0,0.4);
}
.active{
  color:greenyellow;
}