.boxPhoto {
  width: 150px;
  height: 150px;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 2%;
}

.photo {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.name,
.info,
.post {
  color: #FFFFFF;
}
.contact {
  padding-left: 20px;
}
.formSummaryError 
{
  border: solid red 2px;
  padding: 5px;
  color: rgb(104, 33, 33);
}