@font-face {
	font-family: 'Conv_Neon';
	src: url('fonts/Neon.eot');
	src: local('☺'), 
	url('fonts/Neon.woff') format('woff'), 
	url('fonts/Neon.ttf') format('truetype'), 
	url('fonts/Neon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_TextMeOne-Regular';
	src: url('fonts/TextMeOne-Regular.eot');
	src: local('☺'), url('fonts/TextMeOne-Regular.woff') format('woff'), url('fonts/TextMeOne-Regular.ttf') format('truetype'), url('fonts/TextMeOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Beon';
	src: url('fonts/Beon.eot');
	src: local('☺'), url('fonts/Beon.woff') format('woff'), url('fonts/Beon.ttf') format('truetype'), url('fonts/Beon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  body {
	font-family: 'Gilroy-Medium', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;
	background-color: #010223;
  }

a {
	text-decoration: none;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  
  grid-template-areas:
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content{
	grid-area: main;
}