.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  
  grid-template-areas:
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
  grid-area: header;
  background-color: #1eda72;
}
.header img{
    padding-top:5px;
    height: 50px;
}

.nav{
  grid-area: nav;
  background-color: #1eda72;
  color: white;
}
.main{
  grid-area: main;
  background-color: blue;
}
.picture-up {
  height: 160px;
  width: 100%;
}

.photoMy{
  height: 120px;
}